.logo-1
{
	height: 70px;
	width: 100%;
	margin:0px;
	background: black;
}
.logo-1 #logo
{
	color: white;
	font-size: 30px;
	line-height: 50px;
	margin-left: 200px;
}
#Github
{
	margin-left: 1000px;
	line-height: 0px;
	font-size: 10px;
}
#Register
{
	margin-left: 1046px;
	line-height: 0px;
	font-size: 10px;
}
#Login
{
	margin-left: 1100px;
	line-height: 0px;
	font-size: 10px;
}
#Github,#Register,#Login
{
	position: relative;
	bottom: 40px;
}
a{color: white;}
.middle
{
	width: 100%;
	height: 230px;
	background-color: green;
}
.foot
{
	height: 400px;
	width: 960px;
	
	margin-left: 200px;
	margin-top: 50px;
}
.father1
{
	height: 140px;
	width: 960px;
	
}
.father2
{
	height: 145px;
	width: 100%;
	
	margin-top: 3px;
}
.father3
{
	width: 100%;
	
	margin-top: 3px;
	height: 104px;
}
#c1
{
	width: 320px;
	height: 100%;
	float: left;
	border: 1px solid grey;
	text-align: center;
	line-height: 140px;
}
#c2
{
	width: 320px;
	height: 100%;
	margin-left: 3px;
	border: 1px solid grey;
	float: left;
	text-align: center;
	line-height: 140px;
}
#c3
{
	height: 100%;
	border: 1px solid grey;
	margin-left: 650px;
	text-align: center;
	line-height: 140px;
}
#c4
{
	height: 100%;
	width: 240px;
	float: left;
	border: 1px solid grey;
	text-align: center;
	line-height: 145px;
}
#c5
{
	height: 100%;
	width: 240px;
	float: left;
	margin-left: 3px;
	border: 1px solid grey;
	text-align: center;
	line-height: 145px;
}
#c6
{
	height: 100%;
	width: 240px;
	float: left;
	margin-left: 3px;
	border: 1px solid grey;
	text-align: center;
	line-height: 145px;
}
#c7
{
	height: 100%;
	margin-left: 735px;
	border: 1px solid grey;
	text-align: center;
	line-height: 145px;
}
#c8
{
	width: 320px;
	height: 100%;
	float: left;
	border: 1px solid grey;
	text-align: center;
	line-height: 104px;
}
#c9
{
	width: 320px;
	height: 100%;
	margin-left: 3px;
	border: 1px solid grey;
	float: left;
	text-align: center;
	line-height: 104px;
}
#c10
{
	height: 100%;
	border: 1px solid grey;
	margin-left: 650px;
	text-align: center;
	line-height: 104px;
}
.bottom
{
	height: 100px;
	width: 100%;
	margin:0px;
	background: grey;
	margin-top: 10px;
}
.word
{
	color: white;
	font-size: 10px;
	text-align: center;
	line-height: 30px;
}
#m1,#m3,#m4
{
	border: 1px solid black;
	height: 30px;
	width: 20px;
	text-align: center;
	color:black;
	background-color: white;
	opacity: 0.5;
}
#m2
{
	border: 1px solid black;
	height: 45px;
	width: 20px;
	text-align: center;
	background-color: white;
}
#m1
{
	position: relative;
	left: 1000px;
	top: 190px;
}
#m2
{
	position: relative;
	top: 143px;
	left: 1028px;
	line-height: 53px;
}
#m3
{
	position: relative;
	top: 111px;
	left: 1056px;
}
#m4
{
	position: relative;
	top: 80px;
	left: 1084px;
}
.HOME
{
	height: 50px;
	width: 120px;
	border: 1px solid black;
	margin-top: 20px;
	margin-left: 200px;
	text-align: center;
	line-height: 50px;
	border-top-left-radius:1em;
	border-top-right-radius: 1em;
}
.PROFILE
{
	height: 50px;
	width: 120px;
	border: 1px solid #e3f9fd;
	text-align: center;
	line-height: 50px;
	background-color: #87cefa;
	border-top-left-radius:1em;
	border-top-right-radius: 1em;
}
.PROFILE
{
	position: relative;
	bottom: 52px;
	left:322px;
	text-align: center;
	line-height: 50px;
}
.ABOUT
{
	height: 50px;
	width: 120px;
	border: 1px solid #87cefa;
	text-align: center;
	line-height: 50px;
	background-color: #87cefa;
	border-top-left-radius:1em;
	border-top-right-radius: 1em;
}
.ABOUT
{
	position: relative;
	bottom: 104px;
	left: 444px;
}
#hr
{
	
	margin-top: -105px;
}