p,h1,h2,span,a
{
	font-weight: bold;
}
h1
{
	margin: 40px;
	margin-top: 0px;
	padding: 40px;
	float: left;
	height: 690px;
	width: 110px;
	text-align: center;
	color: white;
	background-color: cornflowerblue;
	font-weight: 1200;
	font-family: "微软雅黑";
}
h2
{
	font-family: "微软雅黑";
}