p,h1,h2,span,a
{
	font-weight: bold;
}
h1
{
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: grey;
	color: white;
	margin:0px;
}
h2
{
	float: left;
	height: 250px;
	width: 150px;
	background-color: #C0C0C0;
	margin: 0px;
	text-align: center;
	line-height: 250px;
}
.style
{
	padding-left:165px ;
	padding-top:15px;
	height: 235px;
	margin:0px;
}

.change
{
	margin: 0px;
	height: 1px;
}